<header class="header">
  <div class="container header-flex-container">
    <a href="/handmade_jewelry/" class="logo">
      <svg class="logo-icon" width="160" height="68">
        <use href="/assets/images/icons/logo.svg"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <ul class="nav-menu-list">
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#about_us">About us</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="btn-burger" type="button" data-menu-open>
      <svg class="btn-burger-icon" width="24" height="24">
        <use href="/assets/images/icons/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <a href="#contacts" class="btn-link">Order Now</a>
  </div>
</header>
