<div class="mobile-menu" data-menu>
  <a class="logo" href="../index.html">
    <svg class="logo-icon" width="160" height="68">
      <use href="../images/icons/logo.svg"></use>
    </svg>
  </a>
  <button class="mobile-btn-close" type="button" data-menu-close>
    <svg class="btn-close-icon" width="24" height="24">
      <use href="../images/icons/sprite.svg#icon-close-btn"></use>
    </svg>
  </button>
  <nav class="mobile-nav">
    <ul class="mobile-list">
      <li class="mobile-item">
        <a class="mobile-link" href="#about_us">About us</a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link" href="#benefits">Benefits</a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link" href="#testimonials">Testimonials</a>
      </li>
      <li class="mobile-item">
        <a class="mobile-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <a class="btn-link" href="#contacts">Order Now</a>
</div>
