<section class="section">
        <div class="container">
        <h2 class="testimonial-title">Customer testimonials</h2>
        <p class="testimonial-par">Absolutely love my new earrings! They are stunning.</p>
        <ul class="testimonial-list">
            <li class="testimonial-item">
                <picture class="testimonial-media">
                <source
                type="image/webp"
                srcset="
                ../images/testimonials/earring.webp 1x,
                ../images/testimonials/earring@2x.webp 2x
                "
                />
                <source
                type="image/jpeg"
                srcset="
                ../images/testimonials/earring.jpg 1x,
                ../images/testimonials/earring@2x.jpg 2x
                "
                />
                <img
                src="../images/testimonials/earring.jpg"
                alt="Earring"
                loading="lazy"
                width="335"
                height="260"
                />
                </picture>
            </li>
            <li class="testimonial-item">
                <picture class="testimonial-media">
                <source
                type="image/webp"
                srcset="
                ../images/testimonials/necklace.webp 1x,
                ../images/testimonials/necklace@2x.webp 2x
                "
                />
                <source
                type="image/jpeg"
                srcset="
                ../images/testimonials/necklace.jpg 1x,
                ../images/testimonials/necklace@2x.jpg 2x
                "
                />
                <img
                src="../images/testimonials/necklace.jpg"
                alt="Earring"
                loading="lazy"
                width="335"
                height="260"
                />
                </picture>
            </li>
            <li class="testimonial-item-review">
                <ul class="testimonial-review">
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-white-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-par">"Each piece tells a story, and I love mine!"</p>
                <p class="name-review">Thjmas Mans</p>
            </li>
            <li class="testimonial-item-review">
                <ul class="testimonial-review">
                    <li>
                    <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="testimonial-black-star" width="24" height="24">
                          <use href="../images/icons/sprite.svg#icon-star-black"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-par">"The craftsmanship is exquisite, and I feel unique wearing it."</p>
                <p class="name-review">Jane Edison</p>
            </li>
            <li class="testimonial-item">
                <picture class="testimonial-media">
                <source
                type="image/webp"
                srcset="
                ../images/testimonials/bracelet.webp 1x,
                ../images/testimonials/bracelet@2x.webp 2x
                "
                />
                <source
                type="image/jpeg"
                srcset="
                ../images/testimonials/bracelet.jpg 1x,
                ../images/testimonials/bracelet@2x.jpg 2x
                "
                />
                <img
                src="../images/testimonials/bracelet.jpg"
                alt="Earring"
                loading="lazy"
                width="335"
                height="260"
                />
                </picture>
            </li>
            <li class="testimonial-item">
                <picture class="testimonial-media">
                <source
                type="image/webp"
                srcset="
                ../images/testimonials/ring.webp 1x,
                ../images/testimonials/ring@2x.webp 2x
                "
                />
                <source
                type="image/jpeg"
                srcset="
                ../images/testimonials/ring.jpg 1x,
                ../images/testimonials/ring@2x.jpg 2x
                "
                />
                <img
                src="../images/testimonials/ring.jpg"
                alt="Earring"
                loading="lazy"
                width="335"
                height="260"
                />
                </picture>
            </li>
        </ul>
        </div>
    </section>