.gallery-title {
  margin-bottom: 24px;
  text-align: center;
}
.gallery-desc {
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .gallery-desc {
    margin-bottom: 80px;
  }
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .gallery-list {
    flex-wrap: wrap;
    gap: 24px;
    height: 626px;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery-list {
    height: 1098px;
    gap: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .gallery-item:first-child {
    margin-bottom: 8px;
  }
}

.gallery-image {
  width: 100%;
}
