.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  font-size: 16px;
  color: #000000;

  background-color: #ffff;
}

.header-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  display: flex;
}

.nav-menu-list {
  display: none;
}

.nav-menu-link {
  cursor: pointer;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.nav-menu-link.active {
  color: #8668c7;
}

@media only screen and (min-width: 768px) {
  .nav-menu-list {
    display: flex;
    gap: 16px;
  }
  .logo-icon {
    width: 84px;
    height: 36px;
  }
  .logo {
    margin-right: 48.5px;
  }
  .nav-menu-link {
    display: block;
    padding: 16px 0;
  }
}
@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 32px;
  }
  .nav-menu-list {
    gap: 32px;
  }
  .nav-menu-link {
    padding: 24px 0;
  }
}

.btn-burger {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  margin-left: auto;

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
}

.btn-link {
  display: none;

  border: 1px solid #ccc16e;
  background-color: #ccc16e;

  font-weight: 500;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:focus {
  background-color: transparent;
}
.btn-link:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background: #ccc16e;
}

@media only screen and (min-width: 768px) {
  .btn-link {
    display: block;
    min-width: 119px;
    max-height: 36px;
    padding: 6px 0;
    margin-left: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 1440px) {
  .btn-link {
    min-width: 192px;
  }
}
