.hero-section {
  background-color: #d8d8d8;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  padding-top: 160px;
  padding-bottom: 152px;
}
