.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0 20px;

  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);

  z-index: 999;
  pointer-events: initial;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.btn-close-icon {
  fill: currentColor;
}
.mobile-nav {
}

.mobile-list {
  font-size: 16px;
  margin: 18px 0 64px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-item {
}

.mobile-link {
  cursor: pointer;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.mobile-link:hover,
.mobile-link:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.mobile-link:active {
  color: #8668c7;
}
.btn-order {
  min-width: 335px;
  min-height: 36px;
  padding: 6px 0;

  border: 1px solid #ccc16e;
  background-color: #ccc16e;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-order:hover,
.btn-order:focus {
  background-color: transparent;
}

.btn-order:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: rgba(204, 193, 110, 1);
}
