ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.testimonial-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.testimonial-item-review {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: 335px;
    height: 214px;
    background-color: #F2F2F2;
}
.testimonial-item-review:not(:last-child) {
    gap: 24px;
}

.testimonial-review {
    display: flex;
}

.section, .container{
  overflow: visible;
  height: auto;
  max-height: none;
}
